.app-body{
  background-color: black;
}

#navbar {
  width: 15%;
  background-color: #FC5F3F;
  display: inline-block;
  position: fixed;
  float: left;
  height: 100%;
  margin-left: -8px;
  margin-top: -8px;
}

#content {
  width: 83%;
  height: 100%;
/*  background-color: pink;*/
  display: inline-block;
  float:right;
  /*margin-left: 300px;*/
}

#links {
  margin-top: 50px;
}

#logo {
  text-align: center;
  font-size: 4rem;
  font-family: 'Julius Sans One', sans-serif;
  color: white;
}


.menu span{
  text-decoration: none;
  font-family: 'Quicksand', sans-serif;
  color: white;
  margin-left: 3rem;
}


.menu:hover {
  background-color: white;
  font-size: 1.5em;
  color: #FC5F3F;
}

.menu:hover span{
  color:#FC5F3F;
}

.menu {
  /*background-color: black;*/
  padding-top: 15px;
  padding-bottom: 15px;
  width: 100%;
  cursor: pointer;
}

#content-container {
  margin-left: 50px;
}







