.hide-elementsview {
  display: block;
}

.show-elementsview {
  display: block !important;
}

.app-body{
  /*background-color: #fff0ed;*/
  background-color: #fff0ed;
  background-image:
  -webkit-linear-gradient(bottom left, #fff0ed 25%, transparent 25%, transparent 75%, #94d1f4 75%, #94d1f4),
  -webkit-linear-gradient(bottom left, #fff0ed 25%, transparent 25%, transparent 75%, #94d1f4 75%, #94d1f4);
  background-size:20px 20px;
}

* {
  font-family: 'Quicksand', sans-serif;
/*  font-family: 'Josefin Sans', sans-serif;*/
/*font-family: 'Istok Web', sans-serif;*/
}


.content-container {
  width: 80%;
  float: left;
  margin-left:20%;
}

.navbar {
  background-color: #FC5F3F;
  display: inline-block;
  float: left;
  height: 105%;
  margin-left: -8px;
  margin-top: -8px;
  position: fixed;
  width: 20%;
}

.content {
  width: 78%;
  height: 100%;
/*  background-color: pink;*/
  display: inline-block;
  float:left;
  margin-left: 290px;
}

#links {
  margin-top: 50px;
}

#logo {
  text-align: center;
  font-size: 4rem;
  font-family: 'Julius Sans One', sans-serif;
  color: white;
}


.menu span{
  text-decoration: none;
  font-family: 'Quicksand', sans-serif;
  color: white;
  margin-left: 3rem;
}


.menu:hover {
  background-color: white;
  font-size: 1.2em;
  color: #FC5F3F;
}

.menu:hover span{
  color:#FC5F3F;
}

.menu {
  /*background-color: black;*/
  padding-top: 15px;
  padding-bottom: 15px;
  width: 100%;
  cursor: pointer;
}

#content-container {
  margin-left: 50px;
}







