

#navbar {
  width: 300px;
  background-color: #FC5F3F;
  display: inline-block;
  position: fixed;
  float: left;
  height: 100%;
  margin-left: -8px;
  margin-top: -8px;
}

#content {
/*  width: 80%;*/
  height: 100%;
  /*background-color: pink;*/
  display: inline-block;
  float:right;
  margin-left: 300px;
}

#links {
  margin-left: 50px;
  margin-top: 50px;
}

#logo {
  text-align: center;
  font-size: 4rem;
  font-family: 'Julius Sans One', sans-serif;
  color: white;
}

#links a {
  text-decoration: none;
  font-family: 'Quicksand', sans-serif;
  color: white;
}

.menu :hover {
  background-color: white;
  color:#FC5F3F;
}

.menu {
  padding-top: 15px;
  padding-bottom: 15px;
  width: 100%;
}









