.chat-box {
	width: 40%;
	height: 40em;
	border: 2px solid red;
}

.chat-stream {
	width: 100%;
	height: 86%;
	float: left;
	overflow: scroll;
	background: rgba(252, 95, 64, 0.6);
	border-radius:
}

.chat-stream ul {
	list-style-type: none;
}

.chat-stream li {
	display: inline-block;
	width: 100%;
	/*border: 1px solid green;*/


}

.reply-text {
	width: 100%;
	height: 12%;
	float: left;
}

.reply-text input {
	width: 100%;
	height: 100%;
}

.actual-user-reply {
	border: 1px solid red;
	display: inline-block;
	float: right;
	width: 40%;
	/*font-size: */
}

.other-user-reply {
	border: 1px solid blue;
	display: inline-block;
	float: left;
	width: 40%;
}