.friend-chat{
	display: inline-block;
}

.chat-line-container{
	display: inline-block;
	float: left;
}


.line-container {
	width: 100%;
	background: white;
}

.chat-line-container ul{
	padding : 0 0 0 0;
	text-align: center;
	margin: 0 0;
	height: 300px;
	overflow: scroll;
	background: white;
}

.chat-list-tittle {
	width: 100%;
	background:#4fb3ed;
	height: 40px;
	color: white;
	cursor: pointer;
	text-align: center;
	line-height: 40px;
}

.chat-list-tittle:hover {
	background:white;
	color: #4fb3ed;
	/*border: 1px sol id #FC5F3F;*/
}

.friend-list-tittle {
	width: 100%;
	background:#4fb3ed;
	height: 20px;
}

.chat-area {
   position:fixed;
   /*left:0px;*/
   bottom:0px;
   right: 5px;
   /*height:30px;*/
   /*width:100%;*/
   /*background:#999;*/
}

.friend-list-container{
	margin-right: 3px;
	width: 200px !important;
	display: inline-block;
	background: white;
}

.friend-list-container ul{
	padding : 0 0 0 0;
	text-align: center;
	margin: 0 0;
	height: 380px;
	overflow: scroll;
}


.friend-list {
	list-style-type: none;
}

.friend-container{
	width: 100%;
	height: 40px;
	line-height: 40px;
	cursor: pointer;
}

.friend-container:hover {
	background-color:#FC5F3F;
	color:white;
}

