/*event details*/
.post-details {
	width: 100%;
	float: left;
	background-color:rgba(255, 251, 250, 0.82);
}



.event-details {
	width: 40%;
	float: left;
	padding-left: 2em;
}

/*chat box styles*/

.chat-box {
	width: 40%;
	height: 40em;
	padding-top: 3em;
	display: inline-block;
	/*text-align: center;*/
	/*border: 2px solid red;*/
}

.chat-stream {
	width: 100%;
	height: 86%;
	float: left;
	overflow: scroll;
	/*border-top-left-radius:
	border-top-right-radius:4px;*/
	/*background: rgba(252, 95, 64, 0.6);*/
	background-origin:content-box;
	background: rgba(255, 255, 255, 0.95);
	/*border: 1px solid rgba(2, 59, 100, 0.89);*/

	/*border-top-right-radius: 4px;*/
	/*border-top-left-radius: 4px;*/

}

.chat-stream ul {
	width: 100%;
	list-style-type: none;
	margin: 0 0;
	-webkit-padding-start: 0px;
	padding-start: 0px;
	font-family: 'Quicksand', sans-serif;
	text-align: center;
	font-size: 120%;
}

.chat-stream li {
	display: inline-block;
	width: 100%;
	/*border: 1px solid green;*/
}

.actual-user-reply {

	border: 1px solid white;
	border-radius: 8px;
	color: white;
	background: #FC5F3F;
	display: inline-block;
	float: right;
	width: 40%;
	margin-right: 1em;
	/*white-space: pre-wrap;*/
	overflow: auto;
}

.other-user-reply {
	color: white;
	border-radius: 8px;
	background: #4fb3ed;
	margin-left: 1em;
	border: 1px solid #4fb3ed;
	display: inline-block;
	float: left;
	width: 40%;
}

/*Reply box*/

.reply-text {
	margin-top: 2px;
	border: 0.5px solid #FC5F3F;
	width: 100%;
	height: 12%;
	float: left;
	background-color: rgba(254, 196, 185, 0.82);
}

.reply-text input {
	width: 100%;
	height: 100%;
	padding: 0px 0px;
	border-width: 0px;
	border-bottom-right-radius:4px;
	border-bottom-left-radius:4px;
}

.reply-text input:focus  {
	border-color: 2px solid rgba(2, 59, 100, 0.89);
}

.reply-text:hover {
	border-color: 2px solid rgba(2, 59, 100, 0.89);
}

.chat-thumbnail-box {
	margin-top: 4px;
	float: left;
	display: inline-block;
	margin-left:5px;
}

.chat-thumbnail {
	border-radius: 50%;
	width: 5rem;
	float: left;
}

/*event organizer*/

.event-organizer {
	width: 15%;
	float: left;
	text-align: center;
	margin-left:10%;
	margin-right:10%;
	margin-top:12px;
	margin-bottom: 12px;
	padding-bottom:7px;
	border-radius: 3px;
	border: 1px solid white;
	cursor: pointer;
}

.event-organizer:hover{
	background-color:rgba(253, 163, 144, 0.89);
}

/*event organizer elemnts*/

.picture-chat {
	border-radius: 50%;
	width: 10rem;
	/*padding-bottom: 12px*/
}

.profpic-chat {
	display: inline-block;
}

/*logged users*/

.logged-users {
	background-color: rgba(252, 142, 64, 0.79);
	height: 40rem;
	width: 26%;
	display: inline-block;
	margin-left: 5%;
	margin-right: 5%;
}

.logged-users ul{
	width: 100%;
	list-style-type: none;
	margin: 0 0;
	-webkit-padding-start: 0px;
	padding-start: 0px;
	font-family: 'Quicksand', sans-serif;
	text-align: center;
	font-size: 120%;
}

.logged-users li {
	width: 100%;
	color: white;
}


.logged-users-box {
	margin-top: 4rem;
	margin-bottom: 4rem;
	height: 32rem;
	width: 90%;
	margin-left: 4%;
	margin-right: 4%;
	background-color: rgba(2, 59, 100, 0.89);
}





















