
#otherprofcont {
	background-color: white;
	width: 60%;
	margin-left: 10%;
	margin-top: 5%;
	margin-bottom: 10%;
	padding-top: 5%;
	padding-left: 5%;
	padding-bottom: 10%;

}

.otherprofpiccont img {
	width: 65px;
	border-radius: 50%;
	margin-top: 15%;
}

.otherprofpiccont {
/*	border: 1px red solid;*/
	width: 20%;
	float: left;
	margin-left: 2%;
}

#otherprofpiccont img {
	margin-left: 38%;
	margin-top: 33%;
}

.otherprofname {
/*	border: 1px red solid;*/
	width: 50%;
	display: inline-block;
	float:left;
	padding-left: 5%;
}

.otherprofname p {
	font-size: 2em;
}

.otherprofinfocont {
/*	border: 1px red solid;*/
	width: 80%;
	margin-left: 10%;
	display: inline-block;
}

#friendrequest {
	border: 1px solid #3883FC;
	background-color: white;
	color: #3883FC;
	width: 29%;
	padding-top: 4px;
	margin-top: 2px;
	margin-bottom: 2px;
}

#friendrequest:hover {
	background-color: #5DFCE7;
	color: white;
	border: 0px;
}