.postcontainer {
	margin-left: 10%;
	margin-top: 5%;
	background-color: white;
	width: 40%;
	padding-top: 5%;
	padding-left: 10%;
	padding-bottom: 2%;
}

#posttextarea {
	width: 75%;
	height: 100px;
}

#submitpostbutton {
	text-align: center;
}

.otherpostscontainer {
	margin-left: 10%;
	margin-top: 2%;
	background-color: white;
	width: 40%;
	padding-top: 3%;
	padding-left: 10%;
	padding-bottom: 2%;
}

#postprofpic {
	width: 100px;
	border-radius: 50%;
}