.outercontainer {
/*	background-color: black;*/
	width: 100%;
}

.picture {
	border-radius: 50%;
	width: 5rem;
	float: right;
}

.profpic {
	margin-top: 10%;
/*	background-color: pink;*/
	width: 40%;
	float:left; 
}

.name {
/*	background-color: yellow;*/
	width: 60%;
/*	margin-top: 10%;*/
	float: right;
	text-align: center;
}

#profname {
	font-size: 3rem;
	margin-top: 100px;
	float: left;
	margin-left: 20px;
	/*font-family: 'Josefin Sans', sans-serif;*/
	/*font-family: 'Istok Web', sans-serif;*/
	/*font-family: 'Julius Sans One', sans-serif;*/
}

.infocontainer {
	/*	border: 1px red solid;*/
	width: 100%;
	float: right;
}

.info {
	width: 60%;
	margin-left: 25%;
	margin-top: 5%;
/*	background-color: pink;*/
}

.middlecontainer {
	width: 60%;
	background-color: white;
}

#aboutme {
	width: 80%;
	height: 200px;
}

.buttons {
	background-color: #5D90FC;
	color: white;
	border-radius: 10px;
	border: 1px solid white;
	padding: 10px 20px 10px 20px;
	width: 100px;
	outline: none;
}

.buttons:hover {
	background-color: #5DFCE7;
	color: white;
	border-radius: 10px;
	border: 1px solid white;
	padding: 10px 20px 10px 20px;
	outline: none;
	cursor: pointer;
}

#submitbutton {
	width: 50px;
}


.otherphoto {
	width: 85%;
}
