.outercontainer {
/*	background-color: black;*/
	width: 100%;
}

.picture {
	border-radius: 100%;
	width: 10rem;
	float: right;
}

.profpic {
	margin-top: 10%;
/*	background-color: pink;*/
	width: 40%;
	float:left; 
}

.name {
/*	background-color: yellow;*/
	width: 60%;
/*	margin-top: 10%;*/
	float: right;
	text-align: center;
}

#profname {
	font-size: 3rem;
	margin-top: 100px;
	float: left;
	margin-left: 20px;
	font-family: 'Josefin Sans', sans-serif;
}

.infocontainer {
	/*	border: 1px red solid;*/
	width: 100%;
	float: right;
}

.info {
	width: 60%;
	margin-left: 25%;
	margin-top: 5%;
/*	background-color: pink;*/
}

.middlecontainer {
	width: 60%;
	margin-left: 20%;
/*	background-color: blue;*/
}











