<div class='hide-elementsview' ng-class='classView'>	
	<nav-left class='navbar'></nav-left>
	<div class='content-container'>
		
		<div class="friendcontainer">
			<h3>My Friend Requests </h3><br>
			<div ng-repeat="reqsender in reqsenders" ng-click="goToOtherProfile(reqsender)">
				<div class="eachfriendreq">
					<img class="reqprofpic" ng-src="{{reqsender.profpic}}">
					<div class="reqname">
						<h4> {{reqsender.name}} </h4>
					</div>
					<div class="buttoncontainer">
						<button ng-click="acceptrequest(reqsender)" class="acceptreq"><i class="fa fa-check-square"></i></button>
						<button ng-click="declinerequest(reqsender)" class="declinereq"><i class="fa fa-times"></i></button>
					</div>
				</div>
			</div>
		</div>

		<div class="friendcontainer">
			<h3>My Friends</h3>
			<div ng-repeat="friend in allmyfriends" >
				<div class="eachfriendreq" ng-click="goToOtherProfile(friend)">
					<img class="reqprofpic" ng-src="{{friend.profpic}}">
					<div class="reqname">
						<h4> {{friend.name}}</h4>
					</div>
				</div>
			</div>
		</div>

	</div>
