<div ng-controller="homeController as home">




  <div id="allposts" class="content" ng-show="view.partialToShow == 'post'">
    <post-directive></post-directive>
  </div>

  <div id="myprofile" class="content" ng-show="view.partialToShow == 'my_profile'">
    <profile-directive></profile-directive>
  </div>

  <div class="content" ng-show="view.partialToShow == 'post-chat'">
    <chat-directive></chat-directive>
  </div>

  <div id="otherprofile" class="content" ng-show="view.partialToShow == 'otherprofile'">
    <otherprofile-directive></otherprofile-directive>
  </div>

</div>







