<div id="navbar">
  <h1 id="logo">SORA</h1>
  <div id="links">
    <div class="menu"><span>HOME</span></div>
    <div class="menu"><span>VIEW MY PROFILE</span></div>
    <div class="menu"><span>SORA REQUESTS</span></div>
    <div class="menu"><span>POST</span></div>
    <div class="menu"><span>CHATS</span></div>
  </div>
</div>


<div class="content">
  <chat-directive></chat-directive>
</div>

<!--
<div id="myprofile" class="content">
  <profile-directive></profile-directive>
</div> -->


<!-- <div id="allposts" class="content">
  <post-directive></post-directive>
</div>

 -->






