<div id="navbar">
  <h1 id="logo">SORA</h1>
  <div id="links">
    <div class="menu" ng-click="nav.setView('home')"><span> HOME</span></div>
    <div class="menu" ng-click="nav.setView('my_profile')"><span> MY PROFILE</span></div>
    <div class="menu" ng-click="nav.setView('friends')"><span> FRIENDS</span></div>
    <div class="menu" ng-click="nav.setView('trending')"><span> TRENDING</span></div>
    <div class="menu" ng-click="nav.setView('find')"><span> SEARCH PLACES</span></div>
    <div class='logtuout' ng-click='nav.logout()'><span>Logout</span></div>
  </div>
</div>