
<nav-left class='navbar'></nav-left>
  <div class='content-container'>
  <div id="otherprofcont">

      <div class="otherprofpiccont" id="otherprofpiccont">
        <img  src="{{otheruser.photos.0}}"/>
      </div>

      <div class="otherprofname">
        <p> {{otheruser.name}} </p>
      </div>

      <div class="otherprofinfocont">
        <div>
          <button ng-click="addfriend()" ng-show="showfriendbutton && notfriends" id="friendrequest">
         <!--  <button ng-click="addfriend()" ng-show="showfriendbutton" id="friendrequest"> -->
          <i class="fa fa-users"></i> Add as Friend </button>
        </div><br>
        <strong><p>Education: </p></strong>{{otheruser.education}} {{request.otheruserid}}<br>
        <strong><p>Birthday: </p></strong>{{otheruser.birthday}}<br>
        <strong><p>About me: </p></strong>
        <div id="aboutmegoeshere">
          {{otheruser.aboutme}}
        </div><br>

        <strong><p>Photos: </p></strong>
        <div ng-repeat="picture in pictures" >
          <img ng-show="alreadyfriends" class="otherphoto" ng-src="{{picture}}">
        </div>

      </div>

    </div>


  </div>



