<div class="postcontainer">
	<textarea id="posttextarea" ng-model="posttext" placeholder="Write a description here"></textarea>
	<br><br>
	Area: <input type="text" ng-model="area"/> <br>
	Date: <input type="text" ng-model="date"/> <br><br>
	<input ng-click="postCtr.submitPost()" class="buttons" id="submitpostbutton" value="Submit" />
</div>

<div ng-repeat="post in allposts"  class="otherpostscontainer" ng-click="postCtr.goToEnventRoom(post)">
	<div class="eachpost">
		<img id="postprofpic" ng-src="{{post.userpicurl}}">
		<h3>{{post.username}}</h3>
		<strong>Area: </strong> {{post.area}} <br>
		<strong>Date: </strong> {{post.date}} <br>
		<strong>Description: </strong> {{post.description}} <br>
	</div>
</div>
