<div class="outercontainer" ng-controller="ProfileCtr as ctr">
  <div class="middlecontainer">


      <div class="profpic">

        <img class="picture" ng-src="{{me.photos.0}}" />
      </div>
      <div class="name">
               <h1 id="profname"> {{me.name}} </h1>
      </div>

      <div class="infocontainer">
        <div class="info">
          <strong><p>Education: </p></strong>{{me.education}}<br>
          <strong><p>Birthday: </p></strong>{{me.birthday}}<br>
          <strong><p>About me: </p></strong>
          <button class="buttons" id="editabout">Edit</button> <br><br>
  <!--       angular form !!! -->
          <!-- <form ng-submit="submit()" > -->
            <textarea ng-model="aboutmetext" id="aboutme" placeholder="I like to..."></textarea>
            <input ng-click="ctr.submitAboutMe()" type="button"/>
          <!-- </form> -->


          <strong><p>Photos: </p></strong>
            <div ng-repeat="photo in me.photos" >
              <img ng-src="{{photo}}">
            </div>


        </div>
      </div>
  </div>
</div>



// <script>
//   angular.module('submitExample', [])
//     .controller('ExampleController', ['$scope', function($scope) {
//       $scope.list = [];
//       $scope.text = 'hello';
//       $scope.submit = function() {
//         if ($scope.text) {
//           $scope.list.push(this.text);
//           $scope.text = '';
//         }
//       };
//     }]);
// </script>

