<div class="outercontainer">
  <div class="middlecontainer">
      

      <div class="profpic">
      
        <img class="picture" ng-src="{{me.photos.0}}" />
      </div>
      <div class="name">
               <h1 id="profname"> {{me.name}} </h1>
      </div>

      <div class="infocontainer">
        <div class="info">
          <strong><p>Education: </p></strong>{{me.education}}<br>
          <strong><p>Birthday: </p></strong>{{me.birthday}}<br>
          <strong><p>About me: </p></strong>
          <button class="buttons" id="editabout">Edit</button> <br><br>
          <textarea id="aboutme" placeholder="I like to..."></textarea>
          <button class="buttons" id="submitaboutme">Submit</button>
          <strong><p>Photos: </p></strong>
            <div ng-repeat="photo in me.photos" >
              <img ng-src="{{photo}}">
            </div>



        </div>
      </div>
      


  </div>
</div>



