


    <div class="outercontainer">
      <div class="middlecontainer">
          

          <div class="profpic">
            <img class="picture" src="https://lh4.googleusercontent.com/-AMPSBpndbbo/AAAAAAAAAAI/AAAAAAAAADU/rzt5PAGoekI/photo.jpg">
          </div>
          <div class="name">
                   <h1 id="profname"> RUI </h1>
          </div>

          <div class="infocontainer">
            <div class="info">
              Info goes here<br>
              hometown: westborough <br>
              pets: none<br>
            </div>
          </div>
          
      </div>
    </div>





